.Chat-main
  .Chat-main__info
    .Chat-main__info__group
      %p.Chat-main__info__group__name test
      %p.Chat-main__info__group__member Member : takumi
    =link_to "#", class:"Chat-main__info__btn" do
      .Chat-main__info__btn__edit Edit
  .Chat-main__messages
    .Chat-main__messages__comment
      %ul.Chat-main__messages__comment__info
        %li.Chat-main__messages__comment__info__name takumi
        %li.Chat-main__messages__comment__info__time 2020/09/10(Thu)19:25:01
      %p.Chat-main__messages__comment__text おはよう！
    .Chat-main__messages__comment
      %ul.Chat-main__messages__comment__info
        %li.Chat-main__messages__comment__info__name Ken
        %li.Chat-main__messages__comment__info__time 2020/09/10(Thu)19:25:01
      %p.Chat-main__messages__comment__text nice！
  .Chat-main__form
    %form.Chat-main__form__new-message
      .Chat-main__form__new-message__box
        .Chat-main__form__new-message__box__input
          %input{type: "text", class: "Chat-main__form__new-message__box__input__text", placeholder: "type a message"}
          %label{class: "Chat-main__form__new-message__box__input__image"}
            =icon('fas', 'image', class: "Chat-main__form__new-message__box__input__image__btn")
            %input{type: "file", class: "Chat-main__form__new-message__box__input__image__file"}
      %input{type: "submit", class: "Chat-main__form__new-message__box__submit-btn", value: "Send"}